{% extends 'tours/base.html' %}

{% block content %}
<div class="page-card">
    <h1>Пароль успешно изменён</h1>

    <p>
        Пароль пользователя был успешно изменён.
        Теперь для следующей авторизации необходимо использовать новый пароль.
    </p>

    <div class="card-actions">
        <a href="{% url 'users:profile' %}" class="btn btn-primary">
            Вернуться в профиль
        </a>
        <a href="{% url 'home' %}" class="btn btn-light">
            На главную
        </a>
    </div>
</div>
{% endblock %}